.logo{
    background-color: rgb(26, 139, 124);
    width: 300px;
    height: 300px;
    overflow: auto;
}
.logo{
    border-left: 10px solid rgba(156, 41, 41, 0.863);
    border-top: 5px solid transparent;
    border-right: 10px solid rgba(156, 41, 41, 0.863);
    border-bottom: 5px solid transparent;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    width: 400px;
    height: 220px;
    margin-left: 35%;
    margin-top: 14.5%;
    position: relative;

}
h1{
    z-index: 100;
    font-size: 80px;
    color: white;
   position: absolute;
   text-align: center;
   left: 65px;


} 